$colors: ( primary: #005DFF, primary-light:lighten(#005DFF, 40%), primary-dark:darken(#005DFF, 40%), accent: #FFF6BB);
$padding: 15px;
$borders: 15px;
@function color($color-name) {
    @return map-get($colors, $color-name)
}

$desktop: 840px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    #bg {
        clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
        background-color: color(primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        @include desktop {
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
        }
    }
    header a {
        color: #FFF;
        text-decoration: none;
        padding: $padding;
        display: block;
        text-transform: uppercase;
    }
}

main {
    @include desktop {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card"
    }
    section#card {
        background: #FFF;
        padding: 20px;
        margin: 1em auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
        width: 80%;
        @include desktop {
            grid-area: card;
            height: fit-content;
            align-self: center;
            margin: 1em;
        }
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 10px;
            span {
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: color(primary-light);
                border-radius: 50%;
                margin-right: 10px;
            }
            strong {
                display: inline-block;
                margin-left: max(40px);
                margin-top: 10px;
            }
        }
    }
}

section#primary {
    color: #FFF;
    padding: $padding;
    text-align: center;
    @include desktop {
        grid-area: primary;
        text-align: left;
        margin: 4em 0 0 4em;
    }
    h1 {
        font-size: 3em;
        margin-top: 10px;
        text-transform: uppercase;
        @include desktop {
            width: 30%;
            font-size: 4em;
            line-height: .9;
        }
    }
    p {
        font-size: 1.4em;
    }
    a {
        color: color(primary-dark);
        border-radius: $borders;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color(accent);
        display: block;
        text-align: center;
        margin: 50px auto 0 auto;
        padding: $padding;
        @include desktop {
            display: inline-block;
            padding: $padding $padding * 4;
        }
    }
}

.card-section-02 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: #005DFF;
    .card__container {
        display: flex;
        flex-flow: column wrap;
        padding: 1em;
        .container-item-01 {
            flex: 1;
            // border: 2px solid black;
            padding: 1em;
            text-align: center;
            .item-01-h4 {
                color: rgb(243, 17, 130);
            }
            .item-01-h1 {
                font-size: 2.5em;
            }
            // .item-01-h3 {}
            // .item-01-p {}
            .item-01-button {
                width: 50%;
                height: 3em;
                background: rgb(243, 17, 130);
                color: #FFF;
                border: none;
                border-radius: 1.5em;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                &:hover {
                    background: rgb(223, 6, 114);
                    transition: all 1s ease-in-out;
                }
            }
        }
        .container-item-02 {
            background: url("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Home_01_first_image.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            flex: 1 0 35em;
            // border: 2px solid blue;
            text-align: center;
            position: relative;
            .item-02-content {
                padding: 1em;
                margin: 1em;
                background: rgba(54, 11, 104, .8);
                color: #FFF;
                position: absolute;
                bottom: 0;
                .fa {
                    font-size: 1.5em;
                }
            }
        }
        .container-item-03 {
            flex: 1;
            background: rgb(54, 11, 104);
            // border: 2px solid red;
            padding: 1em;
            text-align: center;
            color: #FFF;
            .item-03-h4 {
                color: rgb(243, 17, 130);
            }
            .item-03-h1 {
                font-size: 1.8em;
            }
            // .item-01-h3 {}
            // .item-01-p {}
            .item-03-button {
                width: 50%;
                height: 3em;
                background: rgb(243, 17, 130);
                color: #FFF;
                border: none;
                border-radius: 1.5em;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
                &:hover {
                    background: rgb(223, 6, 114);
                    transition: all 1s ease-in-out;
                }
            }
        }
        .container-item-04 {
            flex: 1 0 35em;
            background: url("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Home_01_second_image.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            // border: 2px solid green;
        }
    }
}