body,
html {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
  background-color: #005DFF;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
  }
}

body header a {
  color: #FFF;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background: #FFF;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
}

@media (min-width: 840px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main ul li {
  margin-bottom: 10px;
}

main ul li span {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ccdfff;
  border-radius: 50%;
  margin-right: 10px;
}

main ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

section#primary {
  color: #FFF;
  padding: 15px;
  text-align: center;
}

@media (min-width: 840px) {
  section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

section#primary h1 {
  font-size: 3em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  section#primary h1 {
    width: 30%;
    font-size: 4em;
    line-height: .9;
  }
}

section#primary p {
  font-size: 1.4em;
}

section#primary a {
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FFF6BB;
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 15px;
}

@media (min-width: 840px) {
  section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

.card-section-02 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-section-02 .card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 1em;
}

.card-section-02 .card__container .container-item-01 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
  text-align: center;
}

.card-section-02 .card__container .container-item-01 .item-01-h4 {
  color: #f31182;
}

.card-section-02 .card__container .container-item-01 .item-01-h1 {
  font-size: 2.5em;
}

.card-section-02 .card__container .container-item-01 .item-01-button {
  width: 50%;
  height: 3em;
  background: #f31182;
  color: #FFF;
  border: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.card-section-02 .card__container .container-item-01 .item-01-button:hover {
  background: #df0672;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card-section-02 .card__container .container-item-02 {
  background: url("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Home_01_first_image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35em;
          flex: 1 0 35em;
  text-align: center;
  position: relative;
}

.card-section-02 .card__container .container-item-02 .item-02-content {
  padding: 1em;
  margin: 1em;
  background: rgba(54, 11, 104, 0.8);
  color: #FFF;
  position: absolute;
  bottom: 0;
}

.card-section-02 .card__container .container-item-02 .item-02-content .fa {
  font-size: 1.5em;
}

.card-section-02 .card__container .container-item-03 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #360b68;
  padding: 1em;
  text-align: center;
  color: #FFF;
}

.card-section-02 .card__container .container-item-03 .item-03-h4 {
  color: #f31182;
}

.card-section-02 .card__container .container-item-03 .item-03-h1 {
  font-size: 1.8em;
}

.card-section-02 .card__container .container-item-03 .item-03-button {
  width: 50%;
  height: 3em;
  background: #f31182;
  color: #FFF;
  border: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.card-section-02 .card__container .container-item-03 .item-03-button:hover {
  background: #df0672;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.card-section-02 .card__container .container-item-04 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35em;
          flex: 1 0 35em;
  background: url("https://res.cloudinary.com/john-pels/image/upload/v1568628373/team-rebel/Home-01/Home_01_second_image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*# sourceMappingURL=main.css.map */